.navbar-size {
    width: 95%;
    margin: 0 auto;
}

nav .brand-logo {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

nav .brand-logo img {
    display: block;
    height: 50px;
}

.main-body {
    background-color: #f28487;
    color: white;
    min-height: calc(100vh - 64px);
    padding-bottom: 30px;
}

.materialboxed-image {
    margin: 0 auto;
    height: 300px;
}

.click-me-button {
    background-color: #ee6e73;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-reveal {
    color: black;
}

.card-reveal .card-title,
.card-reveal p {
    color: black;
}